.container {
  width: 22rem;
  height: 28rem;
  position: relative;

  svg {
    cursor: pointer;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    background: rgb(0, 16, 22);
    color: #fff;
    border-radius: 10px 10px 0 0;

    p {
      font-weight: bold;
    }
  }

  .content {
    max-height: 19rem;
    overflow: auto;

    ul {
      padding: 0;
      margin: 0;
      padding-top: 1rem;
      list-style: none;

      li {
        margin-bottom: 0.7rem;
        font-weight: 300;
        width: 100%;
        text-align: left;

        .content-message {
          max-width: 60%;
          padding: 0.5rem 1.5rem;

          a {
            color: blue;
            text-decoration: underline;
          }
        }

        &.chatbot-message {
          .content-message {
            background: rgb(255, 245, 245);
            border-radius: 0 15px 15px 0;
          }
        }

        &.user-message {
          display: flex;
          justify-content: flex-end;

          .content-message {
            background: rgb(245, 250, 255);
            border-radius: 15px 0 0 15px;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem;
    width: 100%;

    input {
      width: 87%;
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid #888;
    }

    .send-btn {
      width: 8%;
      padding: 0.1rem;
    }
  }
}
