@import "../../../assets/css/varibles";
.contentVideo{
         
    .layerMain{
        background-color: $secondary-text-color;
        border-radius: 10px; 
        border: 1px solid rgba(240, 240, 240, 0);
        width: 90%;
        margin: 0 5%;
        margin: 0 5% 20px 5%;
        box-shadow: 5px 5px 5px rgb(150, 147, 147);
        .video{
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            margin: 10px 10px;
            background-color: $secondary-text-color;
            iframe{
                width: 100%;
                height: 290px;
            }
        }
        .logo{
            width: 16%;
            height: auto;
            float: left;
            margin: 0 0 0 4%;
            text-align: center;
            padding: 10px 0;
            // border: 1px solid black;
        }
        .nameVideo{
            width: 80%;
            height: 50px;
            float: left;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            padding-left: 20px;
        }
        .btnWatch{
            border-radius: 50px;
            margin: -10px 0 10px 0;
            // width: 20%;
            margin-left: 50%;
            padding: 10px 30px;
            color: black;
            font-weight: bold;
            background-color: #fff;
            
        }
    }
}