.button {
  font: inherit;
  border: 1px solid var(--button-color);
  background: var(--button-color);
  color: var(--text-color);
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  border-radius: 10px;
  width: var(--button-width);
}

.button:hover,
.button:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
