@import '../../../assets/css//varibles';
.profile {
    margin: 138px 0 30px;
    &-tabs {
        @include flex(flex-start, center);
    }
    &-tab {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
    &Course {
        width: 100%;
        margin-top: 20px;
        user-select: none;
        @include flex(flex-start, flex-start);
        &-img {
            width: 200px;
            height: 150px;
            flex-shrink: 0;
        }
        &-info {
            padding: 10px 20px;
            text-align: left;
            border: 1px solid #ccc;
            height: 150px;
            h4 {
                font-size: 20px;
            }
            p {
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}